.w1400{
    max-width: 1400px;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(212, 212, 212, 0.4);
    color: #c9c9c9;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
}
header .gnb{
    display: flex;
    align-items: center;
}
header .gnb li{
    margin-right: 25px;
    margin-left: 25px;
    transition: .5s;
}
header .gnb li:hover{
    color: #ffffff;
    padding: 25px;
} 

header .gnb li:hover h1,
header .gnb li:hover div {
    position: fixed;
}


header .snb{
    display: flex;
    align-items: center;
}
header .snb div{
    margin-right: 25px;
    margin-left: 25px;
}
header .logo{
    display: flex;
    align-items: center;
    width: 180px;
    overflow: hidden;
}

/* 메뉴버튼 */
input[id="menuicon"]{
    display: none;
}
input[id="menuicon"]+ label{
    display: block;
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
    z-index: 20;
    margin: 20px;
}
input[id="menuicon"] + label span{
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background: #e4e4e4;
    position: absolute;
    transition: all .35s;
}
input[id="menuicon"]+ label span:nth-child(1){
    top: 0;
}
input[id="menuicon"]+ label span:nth-child(2){
    top: 50%;
}
input[id="menuicon"]+ label span:nth-child(3){
    bottom: 0;
}
/* 클릭시 변화 */
input[id="menuicon"]:checked + label span{
    background: #3a3a3a;
}
input[id="menuicon"]:checked + label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform:  rotate(-45deg);
}

/* 슬라이드 메뉴바 */
header .sidebar{
    width: 400px;
    height: 100% ;
    background: rgba(242, 242, 242);
    position: fixed;
    top: 0;
    right: -430px;   
    z-index: 1;
    transition: all .35s;
    padding-top: 40px;
}
input[id='menuicon']:checked + label + .sidebar{
    right: 0;
    padding: 0;
    margin: 0;
}
/* 인풋 요소중  menuicon아이디값을 갖고있는 요소 선택, 체크되었을 때 + 인풋 다음 요소: label + (인접요소 선택자'+')div(=sidebar) */
.sidebar ul{
    padding-left:40px;
    padding-top: 60px;
}
.sidebar li{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 5px;
    color: #393939;
}


/* main */
main .bg{
    background:  no-repeat center center / cover;
    width: 100%;
    height: 100vh;
    z-index: 10;
}
main .bg1{
    background-image: url(img/main/bg1.png);
}
main .bg2{
    background-image: url(img/main/bg5.jpg);
}
main .bg3{
    background-image: url(img/main/bg4.jpeg);
}
.slick-next{
    display: none !important;
}
.slick-arrow{
    display: none !important;
}

/* arrow */
main .prev-arrow{
    background: url(img/main/arrow\ left.png) no-repeat center;
}
main .next-arrow{
    background: url(img/main/arrow_right.png) no-repeat center;
}
/* main button  */
main .buttonwrap{
    z-index: 20;
    display: flex;
    position: relative;
    bottom: 260px;
    background-size: 70%;
}
main button{
    cursor: pointer;
    padding: 24px;
}
main .buttonwrap .pb{
    background-size: 12px;
}
main .play{
    display: none;
    background: url(img/main/play.png) no-repeat center;
    opacity: 0.6;
}
main .pause{
    display: inline;
    background: url(img/main/pause.png) no-repeat center;
    opacity: 0.6;
}
main h3{
    font-size: 54px;
    line-height: 64px;
    font-weight: bold;
    color: #f4f4f4;
    padding-top: 260px;
    line-height: 80px;
}
main h4{
        font-size: 19.2px;
        color: #e4e4e4;
        line-height: 38.4px;
        padding-top: 44px;
        font-weight: 200;
    } 



    /* section2 */
    .section2{
        height: 860px;
    }
    .section2 .boxwrap{
        display: flex;
        justify-content: space-between;
        height: 460px;
        padding-top: 40px;
        padding-bottom: 100px;
        cursor: pointer;
    }
    /* box */

    .section2 .box:not(.on) {
        width: 15%;
        transition: all 0.3s;
        position: relative;
        transition: 0.6s;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section2 .boxwrap .box1{
        background: url(img/section2/about_bg1.png)center no-repeat;
        background-size: cover;
    }
    .section2 .boxwrap .box2{
        text-align: center;
        background: url(img/section2/about_bg2.png)center;
        background-size: cover;
    }
    .section2 .boxwrap .box3{
        text-align: center;
        background: url(img/section2/about_bg3.png)center no-repeat;
        background-size: cover;
    }


    .section2 h3{
        font-size: 40px;
        padding-top: 100px;
        font-weight: 600;
        text-align: center;
    }
    .section2 .boxwrap h4,h5{
        transition: 1s;
    }
    .section2 .boxwrap h4{
        font-size: 24px;
        margin-bottom: 20px;
        color: #f5f5f5;
        font-weight: 500;
    }

    .section2 .boxwrap h5{
        line-height: 24px;
        color: #c4c4c4;
        display: none;
        font-weight: 400;
        transition: 0.6s;
        padding-top: 8px;
    }



    /* 이미지 */

    .section2 .box img{
        display: flex;
        width: 60px;
        height: 60px;
        float: right;
    }
    .section2 .box img:hover{
        transform: rotate(360deg);
        transition: 1s;
    }
    .section2 .on{
        width: 70%;
        padding: 70px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: left;
    }
    .section2 .boxwrap .on h5{
        display: block;
        color: #fff;
        line-height: 30px;
    }
    .section2 .boxwrap .on h4,h5{
        text-align: left;
    }



    /* .section3 */
    .section3{
        color: #d7d7d7;
        padding-top: 230px;
        padding-bottom: 100px;
        position: relative;
        z-index: 10;
        height: 600px;
    }
    .section3{
        background-color: #092c60;
    }
    .section3 video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
    }
    .section3 .boxwrap {
        padding-top: 60px;
        padding: 0;
        position: relative;
        z-index: 50;
        cursor: pointer;
    }
    .box2, .box3, .box4 {
        margin-left: -1px;
    }
    .section3 .boxwrap{
        display: flex;
        text-align: center;
        padding-top: 40px;
        height: 300px;
        max-width: 1100px;
        margin: auto;
    }
    .section3 .boxwrap .box{
        border: 0.5px solid #939393;
        background-color:rgba(16, 19, 29, 0.3);
        width: 100%;
        padding: 20px;
        position: relative;
    }
    .section3 .boxwrap .box .inner_bg{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1; 
        content: '';
        background-image: linear-gradient(to bottom right, #00e1e9, #144cc3);
        transition:  0.5s;
        opacity: 0;
    }
    .section3 .boxwrap .box:hover .inner_bg{
        opacity: 1;
    }
    .section3 .boxwrap .icon{
        padding-top: 60px;
    }
    .section3 h3{
        text-align: center;
        font-size: 44px;
        color: #f4f4f4;
        position: relative;
        z-index: 50;
        font-weight: 500;
    }
    .section3 h4{
        margin-top: 10px;
        font-size: 22px;
        font-weight: 400;
        color: rgb(243, 243, 243);
        transition: 0.3s;
    }
    .section3 .boxwrap h5{
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }



    /* .section4 */
    .section4{
        padding-top: 60px;
        padding-bottom: 60px;
        height: 600px;
    }
    .swiper {
        height: 600px;
        margin-left: 500px;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after{
        display: none;
    } 
    .section4 .buttonwrap{
        position: relative;
        width: 130px;
        top: 380px;
    }  
    .section4 h3{
        position: relative;
        top: 200px;
        font-size: 44px;
        line-height: 54px;
        font-weight: 600;
    }
    .swiper-button-prev{
        background: url(img/section4/b_prev.png) no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        position: relative;
        transition: .3s ;
    }     
    .swiper-button-prev:hover{
        background: url(img/section4/b_prev2.png) no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
    }
    .swiper-button-next{
        background: url(img/section4/b_next.png) no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        transition: .3s ;
    }
    .swiper-button-next:hover{
        background: url(img/section4/b_next2.png) no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
    }

    .boxwrap .swiper .swiper-slide {
    /* min-width: 350px; */
      width: 400px;
      height: 400px;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      display: inline-block;
      box-shadow: 10px 10px 20px -1px #15171929;
    }
    .swiper-slide img {
      width: 100%;
      height: 240px;
    }
    .swiper-slide h4{
        font-size: 30px;
        font-weight: 400;
        position: absolute;
        color: #fff;
        padding: 30px;
    }
    .swiper-slide h5{
        font-size: 22px;
        padding: 30px 30px 0px 30px;
        line-height: 32px;
    }
    .swiper-slide p{
        font-size: 16px;
        padding: 15px 30px 20px 30px;
        line-height: 26px;
    }



    /* section5 */
    .section5{
        width: 100%;
        display: block;
        height: 800px;
    }
    .section5 h1{
        font-size: 40px;
        position: relative;
        top: 100px;
    }
    .section5{
        background: url(img/section5/bg.png) center;
        background-size: cover;
        padding-bottom: 50px;
    }
    .section5 .boxwrap{
        margin-top: 160px;
    }
    .section5 .boxwrap .box{
        width: 400px;
        height: 460px;
        border-radius: 15px;
        background-color: #fff;
        padding: 30px;
        margin-right: 20px;
        /* max-width: 320px; */
    }
    .section5 h4{
        color: #3794fe;
        font-size: 24px;
        padding-bottom: 10px;
    }
    .section5 h2{
        font-size: 26px;
        margin-top: 10px;
        line-height: 40px;
        padding-bottom: 10px;
    }
    .section5 p{
        padding-top: 10px;
        line-height: 30px;
        color: #737373; 
    }
    footer {
        height: 400px;
        padding: 80px 0px 80px 0px;
        background-color: #161616;
        color: #e4e4e4;
    }
    footer h3{
        font-size: 34px;
        line-height: 50px;
        font-weight: bold;
    }
    .footer-top{
        display: flex;
        justify-content: space-between;
    }
    footer .top{
        position: relative;
        background: url(img/footer/top.png) no-repeat;
        background-size: contain;
        width: 60px;
        height: 60px;
        transition: all .2s linear;
    }
    footer .top:hover {
        position: relative;
        background: url(img/footer/top2.png) no-repeat;
        background-size: contain;
        width: 60px;
        height: 60px;
    }
    .footer-bottom{
        display: flex;
        justify-content: space-between;
        padding-top: 140px;
    }
    footer .nav{
        display: flex;
        justify-content: space-between;
        width: 400px;
    }
    footer .nev div{
        padding: 30px;
    }
    footer .menu{
        line-height: 36px;
    }
    footer .family{
        display: flex;
        border-bottom: 1px solid #e4e4e4 ;
        justify-content: space-between;
        width: 160px;
    }
    footer .arrow img{
        padding: 0px 0px 10px 10px;
    }
     
    .footer-bottom-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }
